[workspace]
members = [ "crates/server",
    "crates/wgsparkl-testbed2d",
    "crates/wgsparkl-testbed3d",
    "crates/wgsparkl2d",
    "crates/wgsparkl3d",
]
resolver = "2"

[workspace.dependencies]
nalgebra = { version = "0.33", features = ["convert-bytemuck"] }
wgpu = { version = "23", features = ["naga-ir"] }
bytemuck = { version = "1", features = ["derive"] }
anyhow = "1"
async-channel = "2"
naga_oil = "0.16"
thiserror = "1"
encase = { version = "0.10.0", features = ["nalgebra"] }

[workspace.lints]
rust.unexpected_cfgs = { level = "warn", check-cfg = [
    'cfg(feature, values("dim2", "dim3"))',
] }

[patch.crates-io]
bevy_egui = { git = "https://github.com/Vrixyz/bevy_egui", branch = "bevy_main" }

[profile.release]
opt-level = 'z'
